<img src="@Topodata2.resources.Strings.Paths.ImgLogoDefault.Substring(1, Topodata2.resources.Strings.Paths.ImgLogoDefault.Length - 1)"
     alt="" 
     class="img-responsive profile-img margin-bottom-20"/>
<ul id="sidebar-nav-1" class="nav list-group sidebar-nav-v1 margin-bottom-40">
    <li class="list-group-item">
        <a href="@Url.Action("Documents", "Administration")">
            <i class="fa fa-cog"></i>
            Documentos
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("HomeSlideVideo", "Administration")">
            <i class="fa fa-cog"></i>
            Video Slide
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Flipboard", "Administration")">
            <i class="fa fa-cog"></i>
            Flipboard
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("ImageSeason", "Administration")">
            <i class="fa fa-cog"></i>
            Imagen Slide
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("AllUser", "Administration")">
            <i class="fa fa-cog"></i>
            Usuarios
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("HomeText", "Administration")">
            <i class="fa fa-cog"></i>
            Textos Inicio
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Sectores", "Administration")">
            <i class="fa fa-cog"></i>
            Sectores
        </a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("OurTeam", "Administration")">
            <i class="fa fa-cog"></i>
            Nuestro Equipo
        </a>
    </li>
</ul>
<form id="sky-form2" class="sky-form">
    <div id="inline-start">
    </div>
</form>