@model Topodata2.Models.Home.FlipboardViewModel
<h2 class="heading-md">Añadir Revista de Flipboard</h2>
<br/>
    @using (Html.BeginForm("Flipboard", "Administration", FormMethod.Post, new {@class = "sky-form", @id = "addFlipboardForm"}))
    {
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Url)</dt>
            <dd>
                <section>
                    <label class="input">
                        @Html.EditorFor(m => m.Url, new {htmlAttributes = new {@placeholder = "Url de la revista"}})
                        <b class="tooltip tooltip-bottom-right">Link de la revista en flipboard</b>
                        @Html.ValidationMessageFor(m => m.Url)
                    </label>
                </section>
            </dd>
            <dt>@Html.DisplayNameFor(m => m.Name)</dt>
            <dd>
                <section>
                    <label class="input">
                        @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@placeholder = "Nombre de la revista"}})
                        <b class="tooltip tooltip-bottom-right">Nombre de la revista en Flipboard</b>
                        @Html.ValidationMessageFor(m => m.Name)
                    </label>
                </section>
            </dd>
        </dl>
        <br>
        <button id="submitButton" class="btn-u" type="submit">Guardar cambios</button>
    }