@using Topodata2.Models.Service
@model SubCategorieViewModel
<h2 class="heading-md">Editar Sector</h2>
<br />
@using (Html.BeginForm("EditSubCategorie", "Administration", FormMethod.Post, new {@class = "sky-form", @id = "EditSectoresForm"}))
{
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Id)</dt>
        <dd>
            <section>
                <label class="select">
                    @Html.DropDownListFor(m => m.Id, new SelectList(ServiceManager.GetAllSubCategories(), "Id", "Descripcion", "Seleecione un Sector"), new {@required = ""})
                    <i></i>
                    @Html.ValidationMessageFor(m => m.Id)
                </label>
            </section>
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Descripcion)</dt>
        <dd>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-pencil"></i>
                    @Html.EditorFor(m => m.Descripcion, new {htmlAttributes = new {@placeholder = "Nuevo Nombre", @required = ""}})
                    <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(m => m.Descripcion)</b>
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </label>
            </section>
        </dd>
    </dl>
    <button type="submit" class="btn btn-u">Editar</button>
}