@model Topodata2.Models.User.UserProfileSettingsPasswordViewModel
<div id="passwordTab" class="profile-edit tab-pane fade">
    <h2 class="heading-md">Contraseña</h2>
    <p>Cambia tu contraseña</p>
    <br>
    @using (Html.BeginForm("ProfileSettingsPassword", "User", FormMethod.Post, new {@class = "sky-form", @id = "sky-form3"}))
    {
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.PasswordOld)</dt>
            <dd>
                <section>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.EditorFor(m => m.PasswordOld, new {htmlAttributes = new {@placeholder = "Contraseña"}})
                        <b class="tooltip tooltip-bottom-right">Contraeña que utilizas</b>
                        @Html.ValidationMessageFor(m => m.PasswordOld)
                    </label>
                </section>
            </dd>
            <dt>@Html.DisplayNameFor(m => m.PasswordNew)</dt>
            <dd>
                <section>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.EditorFor(m => m.PasswordNew, new {htmlAttributes = new {@placeholder = "Nueva Contraseña"}})
                        <b class="tooltip tooltip-bottom-right">No olvides tu nueva contraseña</b>
                        @Html.ValidationMessageFor(m => m.PasswordNew)
                    </label>
                </section>
            </dd>
            <dt>@Html.DisplayNameFor(m => m.PasswordNewConfirm)</dt>
            <dd>
                <section>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.EditorFor(m => m.PasswordNewConfirm, new {htmlAttributes = new {@placeholder = "Confirmar Contraseña"}})
                        <b class="tooltip tooltip-bottom-right">Para confirmar</b>
                        @Html.ValidationMessageFor(m => m.PasswordNewConfirm)
                    </label>
                </section>
            </dd>
        </dl>
        <br>
        <button type="reset" onclick="$(this).resetValidation()" class="btn-u btn-u-default reset-btn">Cancelar</button>
        <button class="btn-u" type="submit">Guardar cambios</button>
    }
</div>
