@model Topodata2.Models.Home.OurTeamViewModel
<h2 class="heading-md">Añadir Equipo</h2>
<br />
@using (Html.BeginForm("OurTeam", "Administration", FormMethod.Post, new { @class = "sky-form", @id = "AddOurEquipoForm", enctype = "multipart/form-data" }))
{
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Nombre)</dt>
        <dd>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-pencil"></i>
                    @Html.EditorFor(m => m.Nombre, new {htmlAttributes = new {@placeholder = "Nombre", @required = ""}})
                    <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(m => m.Nombre)</b>
                    @Html.ValidationMessageFor(m => m.Nombre)
                </label>
            </section>
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Cargo)</dt>
        <dd>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-pencil"></i>
                    @Html.EditorFor(m => m.Cargo, new {htmlAttributes = new {@placeholder = "Cargo Ocupado", @required = ""}})
                    <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(m => m.Cargo)</b>
                    @Html.ValidationMessageFor(m => m.Cargo)
                </label>
            </section>
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Email)</dt>
        <dd>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-pencil"></i>
                    @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@placeholder = "Correo electronico", @required = ""}})
                    <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(m => m.Email)</b>
                    @Html.ValidationMessageFor(m => m.Email)
                </label>
            </section>
        </dd>
        <dt>@Html.DisplayNameFor(m => m.ImageUpload)</dt>
        <dd>
            <section>
                <label for="file" class="input input-file">
                    <div class="button">
                        @Html.TextBoxFor(m => m.ImageUpload, new { @id = "file", @type = "file", @onchange = "this.parentNode.nextElementSibling.value = this.value" })
                        Seleccionar
                    </div>
                    <input readonly type="text">
                </label>
                @Html.ValidationMessageFor(m => m.ImageUpload)
            </section>
        </dd>
    </dl>
        <button type="submit" class="btn btn-u">Añadir Equipo</button>
}