<div id="layerslider" class="ls-fullwidthdark" style="width: 2000px; height: 750px; margin: 0 auto;">

    <div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 1,5,15;">
        <img src="~/resources/img/backgrounds/img1.jpg" class="ls-bg" />
        <img src="~/resources/img/mockup/imac_t.png" class="ls-l" style="top: 50%; left: 70%" width="751"/>
        <div class="ls-l" style="top: 38%; left: 70%" data-ls="offsetxin: 0; offsetyin: 0;">
            @* ReSharper disable once Html.Obsolete *@
            <iframe src="https://www.youtube.com/embed/uMC5VESsRG0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="432" width="700"></iframe>
        </div>
        <h1 class="ls-l" style="top: 30%; left: 30%; padding: 10px 40px 10px 40px; font-size: 100px; background: #262626; background: rgba(38, 38, 38, 0.9); font-weight: bold;  color: #FFF " >
            ¡Informate!
        </h1>
        <h2 class="ls-l" style="top: 48%; left: 36%; padding: 10px 10px 10px 40px; font-size: 50px;  background: #FFFFFF; background: rgba(255, 255, 255, 0.9); font-weight: bold;">
            Mira lo ultimo en
        </h2>
        <h2 class="ls-l" style="top: 68%; left: 28%; padding: 10px 40px 10px 40px; font-size: 130px; background: #72c02c; background: rgba(114, 192, 44, 0.9); color: #FFF; font-weight: bold;">
            TOPODATA
        </h2>
        @*<h1 class="ls-l" style="top: 30%; left: 30%; padding: 10px 40px 10px 40px; font-size: 100px; font-weight: bold; background: #72c02c; background: rgba(114, 192, 44, 0.9); color: #FFF">
            Topodata
        </h1>*@
    </div>
    @*<div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/agrimensuras.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 1 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            AGRIMENSURA
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Levantamientos Topográficos y Parcelarios con métodos cinematecos (GPS).
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/estudioss.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 2 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            ESTUDIOS DE SUELO
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Mística en la práctica del Estudio y Comportamiento de los Suelos y Materiales en República Dominicana.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/disenos.png" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 5 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            DISEÑO
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Arquitectónicos, Vial, Hidráulicos, Eléctricos y Sanitarios.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/ingenierias.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 4 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            INGENIERÍA ESTRUCTURAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Aplicaciones con medios continuos manejada con prudencia y adecuación para estructuras de obras.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/presupuestoss.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 6 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            PRESUPUESTOS
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Aplicación de software avanzado para la elaboración de Presupuestos de Obras en toda su dimensión...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/impactos.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 3 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            IMPACTO AMBIENTAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Cuantificar y proponer las medidas mitigadoras y compensatorias ambientales y sociales.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/supervisions.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Documents", "Services", new { id = 11 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            SUPERVISIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Gerencia de Supervisión de Proyectos bajo el mando de los más capacitados profesionales...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/construccions.jpg" class="ls-bg"/>
        @Html.ActionLink(" ", "Documents", "Services", new {id = 10}, new {@class = "ls-link"})
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            CONSTRUCCIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Deje en nuestras manos la construcción de su obra...
        </h2>
    </div>*@
    
</div>
