@using Topodata2.Classes
@model Topodata2.Models.Home.HomeSlider
<div id="layerslider" class="ls-fullwidthdark" style="width: 2000px; height: 700px; margin: 0 auto;">

    <div class="ls-slide" data-ls="slidedelay: 10000; transition2d: 1,5,15;">
        <img src="~/resources/img/backgrounds/img1.jpg" class="ls-bg"/>
        <img src="~/resources/img/mockup/imac_t.png" class="ls-l" data-ls="offsetxin:300;durationin:2000;delayin:0;" style="top: 51%; left: 72%" width="751"/>
        <h1 class="ls-l" data-ls="offsetxin:-300;durationin:3000;delayin:0;offsetxout:-50;durationout:1000;" style="top: 30%; left: 34%; padding: 10px 40px 10px 40px; font-size: 90px; background: #262626; background: rgba(38, 38, 38, 0.9); font-weight: bold; color: #FFF">
            ¡Informate!
        </h1>
        <h2 class="ls-l" data-ls="offsetxin:50;durationin:1000;delayin:1000;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;" style="top: 48%; left: 35%; padding: 10px 40px 10px 40px; font-size: 40px; background: #FFFFFF; background: rgba(255, 255, 255, 0.9); font-weight: bold;">
            MIRA LO ULTIMO EN
        </h2>
        <h2 class="ls-l" data-ls="offsetxin:0;durationin:2000;delayin:1500;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;" style="top: 68%; left: 29%; padding: 10px 40px 10px 40px; font-size: 120px; background: #72c02c; background: rgba(114, 192, 44, 0.9); color: #FFF; font-weight: bold;">
            TOPODATA
        </h2>
        <div class="ls-l" style="top: 38%; left: 72%" data-ls="offsetxin:300;durationin:2000;delayin:0;">
            @* ReSharper disable once Html.Obsolete *@
            <iframe src="@Youtube.GetEmbedFromId(@Model.UrlVideo)" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="432" width="700"></iframe>
        </div>
        <a  id="seasonImg" href="@Model.PathImageSeason?@Html.Raw(DateTime.Now.ToBinary())}" title="Temporada" class="ls-l" data-ls="delayin:2500;scaleyin:0;scalexin:0;scalexout:2;scaleyout:2;offsetxout:0;offsetxin:0;durationin:2000;" style="top: 32%; left: 10%" width="270">
            <img src="@Model.PathImageSeason?@Html.Raw(DateTime.Now.ToBinary())}" alt="" style="top: 32%; left: 10%" width="270"/>
        </a>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/agrimensuras.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 1 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            AGRIMENSURA
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Levantamientos Topográficos y Parcelarios con métodos cinematecos (GPS).
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/estudioss.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 2 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            ESTUDIOS DE SUELO
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Mística en la práctica del Estudio y Comportamiento de los Suelos y Materiales en República Dominicana.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/disenos.png" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 5 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            DISEÑO
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Arquitectónicos, Vial, Hidráulicos, Eléctricos y Sanitarios.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/ingenierias.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 4 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            INGENIERÍA ESTRUCTURAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Aplicaciones con medios continuos manejada con prudencia y adecuación para estructuras de obras.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/presupuestoss.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 6 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            PRESUPUESTOS
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Aplicación de software avanzado para la elaboración de Presupuestos de Obras en toda su dimensión...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/impactos.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 3 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            IMPACTO AMBIENTAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Cuantificar y proponer las medidas mitigadoras y compensatorias ambientales y sociales.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/supervisions.jpg" class="ls-bg" />
        @Html.ActionLink(" ", "Sectores", "Services", new { id = 11 }, new { @class = "ls-link" })
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            SUPERVISIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Gerencia de Supervisión de Proyectos bajo el mando de los más capacitados profesionales...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 6000; transition2d: 1,5,15;">
        <img src="~/resources/img/sliders/construccions.jpg" class="ls-bg"/>
        @Html.ActionLink(" ", "Sectores", "Services", new {id = 10}, new {@class = "ls-link"})
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="durationin:1000;delayin:0;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
            CONSTRUCCIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: #262626; background: rgba(38, 38, 38, 0.6); color: #FFF"
            data-ls="offsetxin:0;durationin:1500;delayin:500;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
            Deje en nuestras manos la construcción de su obra...
        </h2>
    </div>
</div>
