@using PagedList
@using PagedList.Mvc
@using Topodata2.Models
@model IPagedList<DocumentModel>
@{
    ViewBag.Title = "Servicios";
    string urlFacebook = "https://www.facebook.com/Topodata-203572243122320/";
    string urlTwitter = "https://twitter.com/topodata";
    string urlInstagram = "https://www.instagram.com/topodatagis/";
    string urlYoutube = "https://www.youtube.com/user/TOPODATA100/";
    string urlGooglePlus = "https://plus.google.com/+TopodataGis/";
    string urlFlickr = "https://www.flickr.com/people/89639027@N07/";
    string urlFlipboard = "https://flipboard.com/@topodata";
    string[] breadcrumbsImages =
    {
        "/resources/img/breadcrumbs/img1.jpg",
        "/resources/img/sliders/agrimensuras.jpg",
        "/resources/img/sliders/estudioss.jpg",
        "/resources/img/sliders/impactos.jpg",
        "/resources/img/sliders/ingenierias.jpg",
        "/resources/img/sliders/disenoS.png",
        "/resources/img/sliders/presupuestoss.jpg",
        "/resources/img/sliders/planificacions.jpg",
        "/resources/img/sliders/presentacioness.jpg",
        "/resources/img/sliders/evaluacions.jpg",
        "/resources/img/sliders/construccions.jpg",
        "/resources/img/sliders/supervisions.jpg"
    };
    string[] breadcrumbsTitles =
    {
        "Todos los Servicios",
        "Agrimensura Geomatica",
        "Estudio y Mecanica de Suelos",
        "Impacto Ambiental y Sostenibilidad",
        "Ingenieria Estructural y Calculos",
        "Diseños Arquitectonicos y Espacios",
        "Presupuestos",
        "Planificacion",
        "Presentaciones",
        "Evaluacion de Proyectos",
        "Procesos de Construccion",
        "Supervicion de Obras"
    };
    int idRoute = Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]);
}

@section cssPageStyle
{
    <link href="~/resources/css/pages/blog.css" rel="stylesheet" />
}

<div class="breadcrumbs-v3 img-v1" style="background: url(@Model[0].SubCategorieImagePath) no-repeat; background-size: 100% auto; padding-top: 150px; padding-bottom: 0px; background-position: center">
    <div style="color: rgb(255, 255, 255); background: rgba(38, 38, 38, 0.7)">
        <p style="padding-left: 40px; text-transform: capitalize">@Model[0].SubCategoria</p>
        <h1 class="" style="padding: 10px; padding-left: 40px; font-weight: bold;">@Model[0].Contenido</h1>
    </div>
</div>
<div class="container content">
    <div class="row blog-page">
        <div class="col-md-9 md-margin-bottom-40" id="documentList">
            @foreach (DocumentModel document in Model)
            {
                <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5" style="background: url(@document.ImagePath) no-repeat; background-size: 100% auto; background-position: center ">
                    </div>
                    <div class="col-md-7">
                        <h2>
                            @Html.ActionLink(document.Nombre, "Document", "Services", new { id = document.Id }, null)
                        </h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> @document.RegDate</li>
                            <li><i class="fa fa-tags"></i> @Html.ActionLink(document.SubCategoria, "Contenido", "Services", new { id = document.IdSubCategorie }, null)</li>
                        </ul>
                        @if (document.Descripcion.Length > 200)
                        {
                            <p>
                                @document.Descripcion.Substring(0, 200)...
                            </p>
                        }
                        else
                        {
                            <p>@document.Descripcion</p>
                        }
                        <p>@Html.ActionLink("Leer mas", "Document", "Services", new { id = document.Id }, new { @class = "btn-u btn-u-sm" })</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
            }

            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Documents", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
        <div class="col-md-3">
            <div class="magazine-sb-social margin-bottom-30">
                <div class="headline headline-md">
                    <h2>Redes Topodata</h2>
                </div>
                <ul class="social-icons social-icons-color">
                    <li>
                        <a href="@urlTwitter" class="social_twitter" data-original-title="Twitter" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlInstagram" class="social_instagram" data-original-title="Instagram" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlYoutube" class="social_youtube" data-original-title="Youtube" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlFacebook" class="social_facebook" data-original-title="Facebook" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlFlickr" class="social_yahoo" data-original-title="Flickr" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlFlipboard" class="social_deviantart" data-original-title="Flipboard" target="_blank"></a>
                    </li>
                    <li>
                        <a href="@urlGooglePlus" class="social_googleplus" data-original-title="Google+" target="_blank"></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="posts margin-bottom-40">
                <div class="headline headline-md">
                    <h2>Ultimas Noticias</h2>
                </div>
                <a class="twitter-timeline"
                   href="https://twitter.com/topodata/lists/geomatica-topografia-ttw"
                   data-widget-id="697619227469975552"
                   data-chrome="noheader nofooter noborders"
                   height="263"></a>
            </div>
            <div class="headline headline-md">
                <h2>Enlaces de Interes</h2>
            </div>
            <div class="tab-v2 margin-bottom-40">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a aria-expanded="true" data-toggle="tab" href="#home-1">Categorias</a>
                    </li>
                    <li class="">
                        <a aria-expanded="false" data-toggle="tab" href="#home-2">Sobre Nosotros</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home-1" class="tab-pane magazine-sb-categories active">
                        <div class="row">
                            <ul class="list-unstyled col-xs-6">
                                <li>@Html.ActionLink("Todas", "Documents", "Services", new {id = 0}, null)</li>
                                <li>@Html.ActionLink("Agrimensura", "Documents", "Services", new {id = 1}, null)</li>
                                <li>@Html.ActionLink("Estudio", "Documents", "Services", new {id = 2}, null)</li>
                                <li>@Html.ActionLink("Impacto", "Documents", "Services", new {id = 3}, null)</li>
                                <li>@Html.ActionLink("Ingenieria", "Documents", "Services", new {id = 4}, null)</li>
                                <li>@Html.ActionLink("Diseño", "Documents", "Services", new {id = 5}, null)</li>
                            </ul>
                            <ul class="list-unstyled col-xs-6">
                                <li>@Html.ActionLink("Presupuesto", "Documents", "Services", new {id = 6}, null)</li>
                                <li>@Html.ActionLink("Planificacion", "Documents", "Services", new {id = 7}, null)</li>
                                <li>@Html.ActionLink("Presentacion", "Documents", "Services", new {id = 8}, null)</li>
                                <li>@Html.ActionLink("Evaluacion", "Documents", "Services", new {id = 9}, null)</li>
                                <li>@Html.ActionLink("Construccion", "Documents", "Services", new {id = 10}, null)</li>
                                <li>@Html.ActionLink("Supervicion", "Documents", "Services", new {id = 11}, null)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="home-2" class="tab-pane magazine-sb-categories">
                        <div class="row">
                            <ul class="list-unstyled col-xs-6">
                                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Informacion", "About", "Home")</li>
                                <li>@Html.ActionLink("Equipo", "OurTeam", "Home")</li>
                            </ul>
                            <ul class="list-unstyled col-xs-6">
                                <li>@Html.ActionLink("Fotos", "Photo", "Home")</li>
                                <li>@Html.ActionLink("Videos", "Video", "Home")</li>
                                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headline headline-md">
                <h2>Al Instante Topodata</h2>
            </div>
            <div id="nanoGallery1" class="blog-photos margin-bottom-30">
            </div>
        </div>
    </div>
</div>

@section cssPlugins
{
    <link href="~/resources/plugins/nano-gallery/css/nanogallery.min.css" rel="stylesheet" />
    <link href="~/resources/plugins/nano-gallery/css/themes/light/nanogallery_light.min.css" rel="stylesheet" />
}
@section PageScripts
{
    <script src="~/resources/plugins/nano-gallery/jquery.nanogallery.min.js"></script>
}
@section ScriptsFunction
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nanoGallery1").nanoGallery({
                kind: 'flickr',
                userID: '89639027@N07',
                thumbnailHeight: 80,
                thumbnailWidth: 80,
                photoset: 'none',
                theme: 'light',
                paginationMaxLinesPerPage: 3,
                paginationDots: true,
                thumbnailLabel: {
                    display: false,
                    displayDescription: false,
                    position: 'overImageOnBottom'
                }

            });
        });
    </script>
    <script>
        $('.row.blog.blog-medium.margin-bottom-40').children('.col-md-5').each(function (index, value) {
            var cw = $(this).next().height();
            $(this).css({ 'height': cw + 'px' });
        });
    </script>
}
