@using Microsoft.Ajax.Utilities
@using Topodata2.Models
@using Topodata2.Models.Service
@using Topodata2.Models.User
@{
    var urlFacebook = "https://www.facebook.com/Topodata-203572243122320/";
    var urlTwitter = "https://twitter.com/topodata";
    var urlInstagram = "https://www.instagram.com/topodatagis/";
    var urlYoutube = "https://www.youtube.com/user/TOPODATA100/";
    var urlGooglePlus = "https://plus.google.com/+TopodataGis/";
    var urlFlickr = "https://www.flickr.com/people/89639027@N07/";
    var urlFlipboard = "https://flipboard.com/@topodata";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Topodata</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/resources/img/icons/logoDefault.png">

    <!-- Web Fonts -->
    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">
    @RenderSection("fonts", false)

    <!-- CSS Global Compulsory -->
    <link href="~/resources/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/resources/css/style.css" rel="stylesheet"/>

    <!-- CSS Header and Footer -->
    <link href="~/resources/css/footers/footer-default.css" rel="stylesheet"/>
    <link href="~/resources/css/headers/header-v1.css" rel="stylesheet"/>

    <!-- CSS Implementing Plugins -->
    <link href="~/resources/plugins/animate.css" rel="stylesheet"/>
    <link href="~/resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    @RenderSection("cssPlugins", false)

    <!--CSS Page Style-->
    @RenderSection("cssPageStyle", false)


    <!-- CSS Theme -->
    <link id="style_color" href="~/resources/css/theme-colors/default.css" rel="stylesheet"/>
    @RenderSection("cssTheme", false)

    <!-- CSS Customization -->
    @if (controller == "Administration")
    {
        <link href="~/resources/css/customAdmin.css" rel="stylesheet"/>
    }
    else
    {
        <link href="~/resources/css/custom.css" rel="stylesheet"/>
    }

    <!--CSS Pages-->
    @RenderSection("PageStyles", false)

</head>
<body>
<div class="wrapper">
<!--=== Header v1===-->
<div class="header-v1" style="margin-bottom: 30px">
    <!-- Topbar -->
    <div class="topbar-v1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline top-v1-contacts">
                        <li>
                            <i class="fa fa-envelope"></i> Email: <a href="mailto:info@topodata.com">info@topodata.com</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> Telefono 1: 809-687-7702
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Telefono 2: 809-682-8728
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline top-v1-data">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a></li>
                        <li><a href="@urlTwitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="@urlInstagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="@urlYoutube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="@urlFacebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@urlFlickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="@urlGooglePlus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="@urlFlipboard" target="_blank"><i class="fa fa-ellipsis-h"></i></a></li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(UserManager.User.Username, "ProfileSettings", "User")</li>
                            @Html.ActionLink("(Cerrar)", "Logout", "User")
                        }
                        else
                        {
                            <li>@Html.ActionLink("Iniciar sesion | Registrarse", "Index", "User", new {returnUrl = Request.Url}, null)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div style="height: 25px"></div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img style="margin-top: -37px" id="logo-header" src="~/resources/img/icons/logoDefault_113px.png" alt="Logo">
                </a>
            </div>
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        @Html.ActionLink("Inicio", "Index", "Home")
                    </li>
                    @{Html.RenderPartial("Layout/_Categories", ServiceManager.GetAllCategories());}
                    <!-- End Home -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Multimedia</a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Fotos", "Photo", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Videos", "Video", "Home")
                            </li>
                        </ul>
                    </li>
                    <!--Contacto-->
                    <li>
                        @Html.ActionLink("Contacto", "Contact", "Home")
                    </li>
                    <!--End Contacto-->
                    <!--About Us-->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Conócenos</a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Sobre Topodata", "About", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Nuestro Equipo", "OurTeam", "Home")

                            </li>
                        </ul>
                    </li>
                    <!--End About Us-->
                    @if (Request.IsAuthenticated && UserManager.IsUserInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Administracion</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Documentos", "Documents", "Administration")</li>
                                <li>@Html.ActionLink("Video Slide", "HomeSlideVideo", "Administration")</li>
                                <li>@Html.ActionLink("Flipboard", "Flipboard", "Administration")</li>
                                <li>@Html.ActionLink("Imagen Slide","ImageSeason","Administration")</li>
                                <li>@Html.ActionLink("Usuarios", "AllUser", "Administration")</li>
                                <li>@Html.ActionLink("Textos Inicio", "HomeText", "Administration")</li>
                                <li>@Html.ActionLink("Sectores", "Sectores", "Administration")</li>
                                <li>@Html.ActionLink("Nuestro Equipo", "OurTeam", "Administration")</li>
                            </ul>
                        </li>
                    }
                    <li style="border: 1px solid #b24d0a !important; box-shadow: inset 0px 1px 0px 0px #f7ad7b !important; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F16A10), color-stop(1, #CC3E14)); background-color: #F16A10; color: #fff !important;">
                        <a href="http://topodata.sytes.net/TopodataCRM/Seguridad/Login.aspx" target="_blank" style="color: white; font-weight: bold">Topodata-GIS</a>
                    </li>
                    <!-- Search Block -->
                    <li class="hidden">
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input class="form-control" placeholder="Search" type="text">
                                <span class="input-group-btn"><button class="btn btn-u" type="button">Go</button></span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!-- End Header v1 -->
<!--=== RenderBody Part ===-->
@RenderBody()
<!--/container-->
<!--=== End RenderBody Part ===-->
<!--=== Default Footer ===-->
<div class="footer-default">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="headline">
                        <h2>Sobre Topodata</h2>
                    </div>
                    <p class="margin-bottom-25">Topodata, es una empresa dedicada a la tecnología en ingeniería aplicada en la creación de diseños, planos y documentos, que describen y sustentan los proyectos de obras de construcción</p>
                    <div class="headline">
                        <h2>Suscríbete!</h2>
                    </div>
                    <p>Mantente al tanto de todo lo que pasa en la comunidad Topodata!</p>
                    @Html.Partial("_SubscribeFooter", new SubscribeViewModel())
                </div>
                <div class="col-md-4">
                    <div class="headline">
                        <h2>Ultimas Noticias</h2>
                    </div>
                    <a class="twitter-timeline"
                       href="https://twitter.com/topodata/lists/geomatica-topografia-ttw"
                       data-widget-id="697619227469975552"
                       data-chrome="noheader nofooter noborders transparent"
                       height="263"></a>

                </div>

                <div class="col-md-4">
                    <div class="headline">
                        <h2>Contáctanos</h2>
                    </div>
                    <address class="md-margin-bottom-40">
                        Calle Ciriaco Ramírez No 19-B Sector Don Bosco,
                        <br/>
                        Distrito Nacional, Rep Dom 10201
                        <br/>
                        <br/>
                        Telefono 1: 809-687-7702
                        <br/>
                        Telefono 2: 809-682-8728
                        <br/>
                        Movil: 829-972-4131
                        <br/>
                        <br/>
                        Email: <a href="mailto:info@topodata.com">info@topodata.com</a>
                    </address>
                    <div class="headline">
                        <h2>Mantente Conectado</h2>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="@urlTwitter" class="social_twitter" data-original-title="Twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlInstagram" class="social_instagram" data-original-title="Instagram" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlYoutube" class="social_youtube" data-original-title="Youtube" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlFacebook" class="social_facebook" data-original-title="Facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlFlickr" class="social_yahoo" data-original-title="Flickr" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlFlipboard" class="social_deviantart" data-original-title="Flipboard" target="_blank"></a>
                        </li>
                        <li>
                            <a href="@urlGooglePlus" class="social_googleplus" data-original-title="Google+" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/footer-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Copyright © 2016 TOPODATA. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- JS Global Compulsory -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="~/resources/plugins/jquery/jquery-migrate.min.js"></script>
<script src="~/resources/plugins/bootstrap/js/bootstrap.min.js"></script>


<!-- JS Implementing Plugins -->
<script src="~/resources/plugins/back-to-top.js"></script>
<script src="~/resources/plugins/smoothscroll.js"></script>
<script src="~/resources/js/plugins/validation.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<!-- JS Customization -->
<script src="~/resources/js/custom.js"></script>

<!-- JS Page Level -->
<script src="~/resources/js/app.js"></script>
@RenderSection("PageScripts", false)

<script>
    jQuery(document).ready(function() {
        App.init();
        
        @RenderSection("documentReady", false)
    });
</script>
@RenderSection("ScriptsFunction", false)
@* ReSharper disable once CoercedEqualsUsing *@
<script>
    var url = window.location;
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
</script>
<!-- Twitter script-->
<script>
    window.twttr = (function(d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
</body>
</html>
